
body {
    margin: 0;
}

.header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;  
    background-color: #9A3B3B;
    color: white;
}

.content {
    text-align: center;
}


/* FILTERS */
/* 
ultimately the filters will go above products when the
width of the window gets too small */
.content-filters {
    background-color: #E2C799;
    padding: 10px;  
}

/* ELEMENTS */
/*
ultimately the amount of products will grow smaller
with the width of the window 
*/
.content-elements {
    flex: 4;
    padding: 10px; 
    margin: 20px; 
}

.products-header {
    display: flex;
    justify-content: center;
    gap:10px;
}

.product {
    display: flex;
    justify-content: space-between;
    gap:10px;
}
