.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
}

.header-logo {
    flex: 0 0 auto;
}

.header-title {
    flex: 1 1 auto;
    text-align: center;
}

.content {
    display: flex;
    border: 1px solid black;
}


/* FILTERS */
/* 
ultimately the filters will go above products when the
width of the window gets too small */
.content-filters {
    border: 1px solid red;
    flex: 1;
}

/* ELEMENTS */
/*
ultimately the amount of products will grow smaller
with the width of the window 
*/
.content-elements {
    border: 1px solid blue;
    flex: 4;
}

